.menu{
    background-color: brown;
    padding: 7px;
}
.izq{
    display: inline-block;
    margin-right: 10px;
    border:solid 5px black;
    padding-right: 7px;
}

.rig{
    color:white;
    float: right;
    background-color: blue;
}

.contenido{
    
}